body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
}

.main-wrapper{
    /* Karena ingin membuat container kalkulator dan intruction
       bersebelahan maka display dibuat flex (dengan ukuran setiap panel telah ditentukan)*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: flex-start;
}
/* Calculator Kita */
.ph-calculator{
    flex: 2;
    width: 100%;
    max-width: 550px; /*Biar ukuran tidak melebar ke sebelah sekaligus memudahkan responsivitas
                        seandainya diubah ke ukuran HP (interval <600)*/
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px
}

.section {
    border: 2px solid;
    border-color: hsl(0, 1%, 81%);
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px
}

/* Bagian Input Form (Dari Section 1-2) */
.input-forms{
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select{
    width: 100%;
    padding: 8px;
    border: 2px solid;
    border-color: hsl(0, 2%, 81%);
    border-radius: 5px;
    box-sizing: border-box;
    color: hsl(0, 0%, 11%);
}

/* Result (Section 3) */
/* result-display adalah class yang ditambahkan berdasarkan
   DOM Manipulation yang ada di index.js */
.result-display {
    text-align: center;
}

.result-display .ph-value {
    font-size: 3em;
    font-weight: bold;
    color: hsl(211, 83%, 45%);
    margin: 2px 0;
}

.result-display .ph-description{
    font-size: 1.7em;
    margin-bottom: 10px;
}

.result-display .sub-value{
    font-size: 1.1em;
    color: hsl(0, 1%, 46%);
}

/* Warna untuk setiap deskripsi pH */
.sangat-asam {
    color: hsl(0, 96%, 56%); 
}

.asam {
    color: hsl(25, 100%, 56%); 
}

.sedikit-asam {
    color: hsl(50, 100%, 63%); 
}

.netral {
    color: hsl(141, 51%, 45%); 
}

.sedikit-basa {
    color: hsl(173, 61%, 43%); 
}

.basa {
    color: hsl(218, 81%, 52%); 
}

.sangat-basa {
    color: hsl(260, 72%, 45%); 
}

.tidak-terdefinisi {
    color: hsl(0, 1%, 23%); 
}

/* Instruction kita */
.instruction-panel{
    flex: 1;
    min-width: 290px;
    background-color: hsl(226, 100%, 97%);
    border: 1px solid  hsl(228, 96%, 89%);
    color: hsl(244, 55%, 41%);
    padding: 20px;
    border-radius: 8px;
    /* Disini, digunakan position sticky, agar pengguna tetap dapat melakukan scrollign pada kalkulator
    Namun penjelasan instruction panel tidak akan lepas dari layar pengguna. */
    position: sticky;
    top: 20px;
    /* Kita set tinggi dari panel kita, dan semisalnya ada konten yang terkena cut, akibat
    nilai height yang sudah diatur, kita gunakan overflow-y agar memungkinkan kita untuk scroll di cut konten tersebut */
    max-height: 87vh;
    overflow-y: auto;
}
.instruction-panel table {
    width: 100%;
    margin-top: 15px;
    font-size: 0.9em;
    border-collapse: collapse;
}

.instruction-panel th, .instruction-panel td {
    border: 1px solid hsl(227, 24%, 66%);
    padding: 8px;
    text-align: center;
}

.instruction-panel thead {
    background-color: hsl(224, 100%, 89%); 
    font-weight: bold;
    color: hsl(242, 47%, 34%);
}

.instruction-panel ol, .instruction-panel ul {
    padding-left: 20px; 
    margin-bottom: 15px;
}

.instruction-panel li {
    margin-bottom: 8px;
}

.formula{
    background-color: hsl(226, 100%, 94%);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    text-align: center; 
}

h1 {
    text-align: center;
    color: hsl(211, 92%, 61%);
    margin-top: 0;
}
h2 {
    font-size: 1.2em;
    border-bottom: 1px solid hsl(0, 0%, 75%);
    padding-bottom: 8px;
    margin-top: 0;
}
h3 {
    font-size: 1.1em;
    color: hsl(244, 59%, 47%);
    border-bottom: 1px solid hsl(229, 100%, 91%);
    padding-bottom: 8px;
    margin-top: 0;
}
h4 {
    font-size: 1em;
    color: hsl(245, 56%, 54%);
    margin-bottom: 5px;
}
