body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
}

.main-wrapper{
    /* Karena ingin membuat container kalkulator dan intruction
       bersebelahan maka display dibuat flex */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    align-items: flex-start;
}
/* Calculator Kita */
.ph-calculator{
    flex: 2;
    width: 100%;
    max-width: 500px; /*Biar ukuran tidak melebar ke sebelah sekaligus memudahkan responsivitas
                        seandainya diubah ke ukuran HP (interval <600)*/
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px
}

.section {
    border: 2px solid;
    border-color: hsl(0, 1%, 81%);
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 20px
}

/* Bagian Input Form (Dari Section 1-2) */
.input-forms{
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, select{
    width: 100%;
    padding: 8px;
    border: 2px solid;
    border-color: hsl(0, 2%, 81%);
    border-radius: 5px;
    box-sizing: border-box;
    color: hsl(0, 0%, 11%);
}

/* Result (Section 3) */
/* result-display adalah class yang ditambahkan berdasarkan
   DOM Manipulation yang ada di index.js */
.result-display {
    text-align: center;
}

.result-display .ph-value {
    font-size: 3em;
    font-weight: bold;
    color: hsl(211, 83%, 45%);
    margin: 2px 0;
}

.result-display .ph-description{
    font-size: 1.7em;
}

.result-display .sub-value{
    font-size: 1.1em;
    color: hsl(0, 1%, 46%);
}

/* Warna untuk setiap deskripsi pH */
.ph-description.sangat-asam {
    color: hsl(0, 96%, 56%); 
}

.ph-description.asam {
    color: hsl(25, 100%, 56%); 
}

.ph-description.sedikit-asam {
    color: hsl(50, 100%, 63%); 
}

.ph-description.netral {
    color: hsl(141, 51%, 45%); 
}

.ph-description.sedikit-basa {
    color: hsl(173, 61%, 43%); 
}

.ph-description.basa {
    color: hsl(218, 81%, 52%); 
}

.ph-description.sangat-basa {
    color: hsl(260, 72%, 45%); 
}

.ph-description.tidak-terdefinisi {
    color: hsl(0, 1%, 23%); 
}

/* Instruction kita */
.instruction-panel{
    flex: 1;
    min-width: 280px;
    background-color: rgb(114, 114, 255);
}